#dailyCalculator {
    margin: 20px 0;
}

#dailyCalculatorContents {
    padding: 20px;
}
#dailyCalculatorContents1 {
    background-color: #FFF7D6;
    padding: 20px;
    height: 450px;
    border-radius: 10px;
}

#dailyMainTitle {
    color: #FFFFFF;
    text-shadow: 2px 2px 1px #7A7A7A;
    background-color: rgba(133, 196, 137, .7);
    padding: 20px;
    border-radius: 10px;
    font-size: 1.7rem;
    text-align: center;
    
}

#myPageTitle{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1.3rem;
}

#myPageSubTitle{
    font-size: 1.7rem;
    text-align: center;
}

#dailyCalculatorContents2 {
    background-color: #EEF7BC;
    padding: 20px;
    height: 450px;
    border-radius: 10px;
}

#clientPageTitle{
    height: 80px;
    text-align: center;
}

#clientBtn {
    width: 80px;
    margin: 20px 5px 5px 5px;
    text-align: center;
    padding: 5px;
}

/* #dailyMainTitle{
    height: 200px;
    background-color: #A9BB91;
    padding-top: 15px;
} */

#dailyInputContainer {
    padding: 12px 20px 30px 20px;
    border-top: 2px solid #7A7A7A;

}

#dailyContentTitle {
    text-align: left;
    color: #ffffff;
    text-shadow: 2px 2px 1px #7A7A7A;
    position: relative;
    left: 30px;
}

#dailyContentSubtitle {
    text-align: right;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    text-shadow: 2px 2px 1px #7A7A7A;
    position: relative;
    right: 60px;
    bottom: 5px;
}
