nav {
    background-color: gray;
}

#navTitle {
    color: white;
}

.logo-image {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

div#bigImage {
    background-image: url("../../images/catering-2778755_1280.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}