#dailyCalender {
    margin: 20px 0;
    border: 1px solid gray;
    padding: 20px;
}

/* #calenderContainer {
    clear: both; 
    float: left; 
    list-style: none; 
    margin: 0px 10px 0 0px; 
    border-bottom:1px solid #333333;
    width:500px;
} */

#searchSection {
    margin: 25px 0;
}

#containerBorder {
    border: 1px solid gray;
}

#calenderContent {
    padding: 20px;
}

#day {
    display: inline; 
    list-style: none;
}
button.btn.btn-info {
    width: 60px;
    text-align: center;
}
div#calenderContainer.row {
    padding-bottom: 10px;
}