#dailyGraph {
    height: 200px;
    margin: 20px;    
    
}

#graphTitle {
    font-size: 50px;
    margin: 20px;
    text-align: left;
    color: #3E4032;
    text-shadow: 2px 2px 1px #7A7A7A;
    position: relative;
    left: 30px;

}

#graphSubtitle {
    font-size: 23px;
    text-align: left;
    color: #3E4032;
    text-shadow: 2px 2px 1px #7A7A7A;
    position: relative;
    left: 155px;
    bottom: 25px;
}

#graphContainer {
    /* border-top: 2px solid #3E4032; */
    height: 43rem;
    margin-bottom: 3rem;
    background-color: #F0F7C2;
    border-radius: 10px;
}