body{
    height: 100%;
}
#bannerImg {
    width:100%;
}
#banner {
    margin: 20px;
}
#mainPageArea1 {
    border-radius: 20px;
    padding: 20px;
    background-color: #FFF7D6;
    height: 700px;
}

#mainPageArea2 {
    border-radius: 20px;
    padding: 20px;
    background-color: #E3E5A0;
    height: 700px;
}

#mainPageArea3 {
    border-radius: 20px;
    padding: 20px;
    background-color: #EEF7BC;
    height: 700px;
}
#mainPageTitle {
    text-align: center;
}

#mainPageSubtitle {
    text-align: left;
    font-family: 'Raleway', sans-serif;
}

div#mainPageOutline.col-md-4 {
    padding: 3px;
}

button.btn.btn-outline-secondary {
    color: #3E4032;
}

h2#mainPageTitle {
    color: #3E4032;
}

h5#mainPageSubtitle {
    color: #3E4032;
}