body{
    height: 100%;
}
#bannerImg {
    width:100%;
}
#banner {
    margin: 20px;
}
#mainPageArea1 {
    border-radius: 20px;
    padding: 20px;
    background-color: #FFF7D6;
}

#mainPageArea2 {
    border-radius: 20px;
    padding: 20px;
    background-color: #E3E5A0;
}

#mainPageArea3 {
    border-radius: 20px;
    padding: 20px;
    background-color: #EEF7BC;
}
#mainPageTitle {
    text-align: center;
}

#mainPageSubtitle {
    text-align: left;
    font-family: 'Raleway', sans-serif;
}

div#mainPageOutline.col-md-4{
    padding: 3px;
}

.ulSearchByFood{
    padding: 1rem 1rem 0 0;
}

.listSearchByFood{
    list-style: none;
    border-bottom: .01rem solid #AAAAAA;
    padding: 1rem 1rem 0.5rem 0;
}